<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/styles/reset.css" />
    <link rel="stylesheet" href="../assets/styles/content.css" />
    <link rel="stylesheet" href="../assets/styles/header.css" />
    <title>Conteúdo</title>
  </head>
  <body>
    <div class="header">
      <div class="header-container">
        <p class="title">Agendify</p>
        <div class="btn-box">
          <button class="btn-header">
            <img
              src="../assets/img/user.svg"
              alt="User"
              class="img-btn"
              onclick="redirectToPage('template/about-me')"
            />
          </button>
          <button class="btn-header">
            <img
              src="../assets/img/code.svg"
              alt="Techs"
              class="img-btn"
              onclick="redirectToPage('template/technology')"
            />
          </button>
          <button class="btn-header">
            <img
              src="../assets/img/about.svg"
              alt="About"
              class="img-btn"
              onclick="redirectToPage('template/about')"
            />
          </button>
          <button class="btn-header">
            <img
              src="../assets/img/home.svg"
              alt="Home"
              class="img-btn"
              onclick="redirectToPage('template')"
            />
          </button>
        </div>
      </div>
    </div>

    <main>
      <div class="main-container">
        <h1><%= title%></h1>
        <p><%= description %></p>

        <h2>Funcionalidades</h2>
        <ul>
          <% funcionalidades.forEach(funcionalidade => { %>
          <li><%= funcionalidade %></li>
          <% }); %>
        </ul>
        <div class="box-btns">
          <button class="openModalBtn" id="openModalLogin">Login</button>
          <button class="openModalBtn" id="openModalRegister">Cadastro</button>
        </div>
      </div>
    </main>

    <div id="myModalLogin" class="modal">
      <div class="modal-content">
        <div class="header-modal">
          <h3 class="title-modal">Login</h3>
          <span id="closeModalBtnLogin" class="close">&times;</span>
        </div>
        <div class="body-modal">
          <div class="box-modal">
            <label>Email</label>
            <input
              type="email"
              placeholder="Digite seu email..."
              class="input-modal"
              id="email"
            />
          </div>
          <div class="box-modal">
            <label class="label-modal">Senha</label>
            <input
              type="password"
              placeholder="Digite sua senha..."
              class="input-modal"
              id="password"
            />
          </div>
          <p id="alert-invalid-login">Email ou senha inválidos !</p>
          <p id="alert-all-login">Preencha os campos !</p>
          <p id="alert-email-login">Digite um email válido !</p>
          <Button class="button-modal" id="send-login">Entrar</Button>
        </div>
      </div>
    </div>

    <div id="myModalRegister" class="modal">
      <div class="modal-content-register">
        <div class="header-modal">
          <h3 class="title-modal">Cadastro</h3>
          <span id="closeModalBtnRegister" class="close">&times;</span>
        </div>
        <div class="body-modal-register">
          <div class="box-modal">
            <label>Nome</label>
            <input
              type="text"
              placeholder="Digite seu nome..."
              class="input-modal"
              id="nameRegister"
            />
          </div>
          <div class="box-modal">
            <label>Email</label>
            <input
              type="email"
              placeholder="Digite seu email..."
              class="input-modal"
              id="emailRegister"
            />
          </div>
          <div class="box-modal">
            <label class="label-modal">Senha</label>
            <input
              type="password"
              placeholder="Digite sua senha..."
              class="input-modal"
              id="passwordRegister"
            />
          </div>
          <div class="box-modal">
            <label>Telefone</label>
            <input
              type="email"
              placeholder="Digite seu telefone..."
              class="input-modal"
              id="phoneRegister"
            />
          </div>
          <p id="alert-email-register">Erro ao cadastrar !</p>
          <p id="alert-email-register">Digite um email válido !</p>
          <p id="alert-phone">Digite um telefone válido !</p>
          <p id="alert-all-register">Preencha os campos !</p>
          <Button class="button-modal" id="send-register">Cadastrar</Button>
        </div>
      </div>
    </div>

    <script src="../assets/scripts/register.js"></script>
    <script src="../assets/scripts/login.js"></script>

    <script>
      function redirectToPage(page) {
        window.location.href = "/" + page;
      }
    </script>
  </body>
</html>
