<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/styles/reset.css" />
    <link rel="stylesheet" href="../assets/styles/content.css" />
    <link rel="stylesheet" href="../assets/styles/header.css" />
    <title>Conteúdo</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <p class="title">Agendify</p>
        <div class="btn-box">
          <button class="btn-header">
            <img src="../assets/img/login.svg" alt="Techs" class="img-btn" />
          </button>
          <button class="btn-header">
            <img
              src="../assets/img/code.svg"
              alt="Techs"
              class="img-btn"
              onclick="redirectToPage('technology')"
            />
          </button>
          <button class="btn-header">
            <img
              src="../assets/img/about.svg"
              alt="About"
              class="img-btn"
              onclick="redirectToPage('about')"
            />
          </button>
          <button class="btn-header">
            <img
              src="../assets/img/home.svg"
              alt="Home"
              class="img-btn"
              onclick="redirectToPage('')"
            />
          </button>
        </div>
      </div>
    </header>

    <main>
      <div class="main-container">
        <h1>Projeto Agendify</h1>
        <p>
          Este é um projeto de uma aplicação de agenda online, onde é possível
          cadastrar contatos, fazer login e se cadastrar como novo usuário. O
          projeto utiliza React.js como biblioteca principal.
        </p>
        <h2>Funcionalidades</h2>
        <p>A aplicação possui as seguintes funcionalidades:</p>
        <ul>
          <li>
            <strong>Página de login</strong>: Permite que os usuários façam
            login com suas credenciais.
          </li>
          <li>
            <strong>Página de registro</strong>: Permite que novos usuários se
            registrem na aplicação.
          </li>
          <li>
            <strong>Página inicial</strong>: Após fazer login, os usuários são
            redirecionados para a página inicial, onde podem visualizar a lista
            de contatos cadastrados.
          </li>
        </ul>
      </div>
    </main>
  </body>

  <script>
    function redirectToPage(page) {
      window.location.href = "/" + page;
    }
  </script>
</html>
