<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/styles/reset.css" />
    <link rel="stylesheet" href="../assets/styles/technology.css" />
    <link rel="stylesheet" href="../assets/styles/header.css" />
    <title>Conteúdo</title>
  </head>
  <body>
    <div class="header">
      <div class="header-container">
        <p class="title">Agendify</p>
        <div class="btn-box">
          <button class="btn-header">
            <img src="../assets/img/login.svg" alt="Techs" class="img-btn" />
          </button>
          <button class="btn-header">
            <img
              src="../assets/img/code.svg"
              alt="Techs"
              class="img-btn"
              onclick="redirectToPage('technology')"
            />
          </button>
          <button class="btn-header">
            <img
              src="../assets/img/about.svg"
              alt="About"
              class="img-btn"
              onclick="redirectToPage('about')"
            />
          </button>
          <button class="btn-header">
            <img
              src="../assets/img/home.svg"
              alt="Home"
              class="img-btn"
              onclick="redirectToPage('')"
            />
          </button>
        </div>
      </div>
    </div>
  </body>

  <main>
    <div class="main-container">
      <h1>Tecnologias utilizadas</h1>
        <div class="techs-box">
          <h2>Front-end:</h2>
          <ul>
            <li><a href="https://reactjs.org/" target="_blank">React</a>: Biblioteca JavaScript de código aberto para construção de interfaces de usuário.</li>
            <li><a href="https://chakra-ui.com/" target="_blank">Chakra UI</a>: Biblioteca de componentes UI para React com design personalizável e responsivo.</li>
            <li><a href="https://axios-http.com/" target="_blank">Axios</a>: Biblioteca para fazer requisições HTTP no navegador e no Node.js.</li>
            <li><a href="https://github.com/jquense/yup" target="_blank">Yup</a>: Biblioteca para validação de esquemas JavaScript.</li>
          </ul>
          <h2>Back-end:</h2>
          <ul>
            <li><a href="https://nodejs.org/" target="_blank">Node.js</a>: Plataforma JavaScript para desenvolvimento do lado do servidor.</li>
            <li><a href="https://expressjs.com/" target="_blank">Express</a>: Framework web minimalista para Node.js, facilitando a construção de aplicativos e APIs.</li>
            <li><a href="https://github.com/jquense/yup" target="_blank">Yup</a>: Biblioteca de validação de dados JavaScript com sintaxe declarativa para validação de esquemas de objetos.</li>
            <li><a href="https://www.npmjs.com/package/jsonwebtoken" target="_blank">Jsonwebtoken</a>: Biblioteca para criação, assinatura e verificação de tokens JWT em aplicações web.</li>
            <li><a href="https://www.npmjs.com/package/bcrypt" target="_blank">Bcrypt</a>: Biblioteca de criptografia de senhas para Node.js, com funções seguras para armazenamento criptograficamente forte e resistente a ataques de força bruta.</li>
          </ul>
        </div>
      </ul>
    </div>
  </main>

  <script>
    function redirectToPage(page) {
      window.location.href = "/" + page;
    }
  </script>
</html>
