main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

strong {
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-left: 5px solid;
  border-color: #5ca5a5;
  border-radius: 5px;
  width: 600px;
  height: 300px;
  animation: fadein 0.5s forwards;
}

.modal-content-register {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-left: 5px solid;
  border-color: #5ca5a5;
  border-radius: 5px;
  width: 600px;
  height: 450px;
  animation: fadein 0.5s forwards;
}

.header-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-modal {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.body-modal-register {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.label-modal {
  font-size: 16px;
  font-weight: 500;
}

.title-modal {
  font-size: x-large;
  font-weight: 500;
}

.box-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-modal {
  height: 30px;
  background-color: #e1f0f0;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid;
  border-color: #5ca5a5;
  cursor: pointer;
}

.button-modal:hover,
.button-modal:focus {
  transform: scale(1.05);
  transition: all 0.5s;
}

.input-modal {
  height: 30px;
  background-color: #e1f0f0;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.openModalBtn {
  height: 30px;
  width: 300px;
  background-color: #effafa;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid;
  border-color: #5ca5a5;
  cursor: pointer;
}

.openModalBtn:hover,
.openModalBtn:focus {
  transform: scale(1.05);
  transition: all 0.5s;
}

#alert-email-login {
  color: #ce4646;
  display: none;
}

#alert-invalid-register {
  color: #ce4646;
  display: none;
}

#alert-invalid-login {
  color: #ce4646;
  display: none;
}

#alert-all-login {
  color: #ce4646;
  display: none;
}

#alert-all-register {
  color: #ce4646;
  display: none;
}

#alert-phone {
  color: #ce4646;
  display: none;
}

#alert-email-register {
  color: #ce4646;
  display: none;
}

.box-btns {
  display: flex;
  gap: 20px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
